.broad-green-strip{
  color: white;
  background-color: hsl(141, 82%, 29%);
  padding: 18px;
  font-family: 'Open Sans', sans-serif;  
}

.title-on-green-strip{
  margin: 0px 0px 0px 20px;
}

.insert-box-on-green-strip{
  float: right;
  bottom: 41px;
  width: 300px;
  position: relative;
  padding: 6px 6px 6px 6px;
}

.surrounding-border{
  padding: 0px -10px 0px 0px;
  border: solid #ccc 0.1px;
  margin: 20px 0px 0px 35px;
}

.title-and-form{
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0px 0px 40px;
}

.insert-box{
  padding: 6px 6px 6px 6px;
}

.submit-button{
  color: white;
  background-color: #333333;
  padding: 10px 10px 10px 10px;
  border: solid #333333 0px;
  width: 75px;
  cursor: pointer;
  border-radius: 5px;
}

.submit-button:hover{
  background-color: hsl(0,0%,25%);
  border: solid hsl(0,0%,25%) 0px;
}

.sub-title{
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0px 0px 40px;
}

.list-item{
  width: 565px;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  border: solid #ccc 0.1px;
}

.cross{
  float: right;
  color: white;
  background-color: crimson;
  padding: 0px 0px 0px 0px;
  border: solid 1px crimson;
  border-radius: 3px;
  cursor: pointer;
  width: 25px;
  height: 30px;
  text-align: center;
  position: relative;
  top: -3.5px;
}

.cross:hover{
  background-color: hsl(348, 83.3%, 52%);
  border: solid 1px hsl(348, 83.3%, 52%);
}

.edit{
  color: orange;
  background-color: white;
  padding: 0px 0px 0px 0px;
  border: solid 1px orange;
  border-radius: 3px;
  cursor: pointer;
  width: 50px;
  height: 30px;
  text-align: center;
  position: relative;
  top: -3.5px;
  right: 3px;
}

.edit:hover{
  color: white;
  background-color: orange;
}

.e-d-butns{
  float: right;
}

.description{
  color: hsl(0, 0%, 49%);
  border: solid 1px #dfdfdf;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  resize: none;
  overflow: auto;
  margin: 10px 0px 0px 0px;
  width: 553px;
  display: none;
}

.description:focus{
  border: solid 2px #333333;
}
